@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



  .cube-spinner-3d {
    position: relative;
    width: 60px;
    height: 60px;
    transform-style: preserve-3d;
    animation: rotate-3d 1.5s infinite linear;
  }

  .cube-face {
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(360deg, #ff5722, #FD6F01);
    border: 2px solid #fff;
  }

  .front {
    transform: rotateY(0deg) translateZ(30px);
  }

  .back {
    transform: rotateY(180deg) translateZ(30px);
  }

  .left {
    transform: rotateY(-90deg) translateZ(30px);
  }

  .right {
    transform: rotateY(90deg) translateZ(30px);
  }

  .top {
    transform: rotateX(90deg) translateZ(30px);
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(30px);
  }

  @keyframes rotate-3d {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
